body {
  display: flex;
  background: url(./mars.jpg) center center no-repeat;
  object-fit: fill;
}

.blocks {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.block {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.block--red {
  background-color: red;
  order: 2;
}

.block--blue {
  background-color: blue;
  order: 3;
}

.block--green {
  background-color: green;
  order: 4;
}

.block--pink {
  background-color: pink;
  order: 5;
}

.block--gray {
  background-color: gray;
  order: 6;
}